.MuiDropzoneArea-root {
  width: 25%  !important;
  min-height: 0px !important;
}
.MuiDropzonePreviewList-image {
  max-width: 100px !important;
}
.MuiTypography-colorTextSecondary{
  color: white !important;
} 
.MuiListItemText-primary{
  color: white !important;
}